<div class="d-flex justify-content-center">

  <div class="col-xl-7 d-none d-xl-inline-block">
    <div class="account-page-bg rounded-4">
                      <div class="auth-user-review text-center">
                          <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" class="carousel slide carousel-fade" data-bs-ride="carousel">
                               <ng-template ngbSlide class="carousel-item active">
                                      <p class="prelead mb-2">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179m10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179"/></svg>
                                           Simposio UMG 2025.
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.248-5.621c-.537.278-1.24.375-1.93.311c-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179m-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621c-.537.278-1.24.375-1.929.311C4.591 12.323 3.17 10.842 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179"/></svg>
                                      </p>
                                  </ng-template>

                                  <ng-template ngbSlide class="carousel-item">
                                      <p class="prelead mb-2">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179m10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179"/></svg>
                                              INNOVA TEC
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.248-5.621c-.537.278-1.24.375-1.93.311c-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179m-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621c-.537.278-1.24.375-1.929.311C4.591 12.323 3.17 10.842 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179"/></svg>
                                      </p>
                                  </ng-template>

                                  <ng-template ngbSlide class="carousel-item">
                                      <p class="prelead mb-2">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179m10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621c.537-.278 1.24-.375 1.929-.311c1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5a3.87 3.87 0 0 1-2.748-1.179"/></svg>
                                          conoceréis la verdad y la verdad os hará libre.
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.248-5.621c-.537.278-1.24.375-1.93.311c-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179m-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.456 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621c-.537.278-1.24.375-1.929.311C4.591 12.323 3.17 10.842 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.1.49 2.748 1.179"/></svg>
                                      </p>
                                  </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
    </div>

  <div class="col-6 h-100 over-flow-y-hidden">
    <div class="card col-10 mx-auto d-flex justify-content-center align-items-center">
      <div class="col-lg-2 my-2">
        <div>
          <img
            src="assets/images/logo-umg.jpg"
            alt=""
            class="img-fluid rounded-circle avatar"
          />
        </div>
      </div>

      <div class="card-header">
        <h5 class="card-title mb-0">Registro Simposio 2025 UMG</h5>
      </div>

      <div class="card-body col-10">
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <label for="nombres" class="form-label">Nombres</label>
            <input
              type="text"
              id="nombres"
              class="form-control"
              formControlName="nombres"
            />
            <div *ngIf="registroForm.get('nombres')?.invalid && registroForm.get('nombres')?.touched" class="text-danger">
              Nombre es requerido y debe tener al menos 2 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input
              type="text"
              id="apellidos"
              class="form-control"
              formControlName="apellidos"
            />
            <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="text-danger">
              Apellidos son requeridos y deben tener al menos 2 caracteres.
            </div>
          </div>

          <div class="mb-2">
            <label for="telefono" class="form-label">Telefono</label>
            <input
              type="tel"
              id="telefono"
              class="form-control"
              formControlName="telefono"
            />
          </div>

          <div class="mb-2">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              formControlName="email"
            />
            <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-danger">
              Correo electrónico es inválido.
            </div>
          </div>

          <div class="mb-2">
            <label for="rolId" class="form-label">Rol</label>
            <select class="form-select" id="rolId" formControlName="rolId">
              <option [value]="rol.descripcion" *ngFor="let rol of rolUsuario">{{ rol.descripcion }}</option>
            </select>
          </div>

          <div class="mb-2" *ngIf="registroForm.get('rolId')?.value === participant_type_student">
            <label for="carnet" class="form-label">Carnet</label>
            <input
              type="number"
              id="carnet"
              class="form-control"
              formControlName="carnet"
            />
          </div>

          <div class="mb-2">
            <label for="talla" class="form-label">Talla</label>
            <select class="form-select" id="talla" formControlName="talla">
              <option [value]="talla.talla" *ngFor="let talla of tallas">{{ talla.talla }}</option>
            </select>
          </div>




          <div class="mb-2">
            <label for="example-date" class="form-label">Fecha</label>
            <input
              type="date"
              id="example-date"
              class="form-control"
              formControlName="birth_date"
            />
          </div>

          <div class="mb-2">
            <label for="formFile" class="form-label">Comprobante de pago</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              accept="image/jpeg, image/png"
              (change)="onFileSelected($event)"
            />
            <div *ngIf="registroForm.get('comprobante')?.invalid && registroForm.get('comprobante')?.touched" class="text-danger">
              El archivo es requerido.
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
